<!DOCTYPE html 5.0>
<html>
<title>Your notes, <%=title%> </title>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/notes.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
<script src="/javascripts/jquery-1.11.3.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/angular.js"></script>
<script src="/javascripts/modules.js"></script>

<!-- <script src="/javascripts/angular-route.js"></script>
<script src="/javascripts/angular/angular-ui-router.js"></script>
<script src="/javascripts/angular-resource.js"></script> -->
<!-- <script src="js/navbar.js"></script>  -->

</head>

<style type="text/css">
body{
background-image: url("/images/g.jpg");
background-repeat: no-repeat;
background-attachment: fixed; 
}
textarea{

background-color: #FFDEAD;
font-size: 25;

}


</style>

<body ng-app='myApp' ng-controller='mainCtrl' ng-init='notes=<%=JSON.stringify(notes)%>'>

<div class="container-fluid">
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div id="wrap">
                <form action="" autocomplete="on">
                    <input id="search" name="search" type="text" placeholder="Заголовок, дата или часть текста">
                    <input id="search_submit" value="Rechercher" type="submit">
                </form>
            </div>
    </div>
    </div>
<!-- form where we will creating new notes-->

    <div class="row">

    <div class="col-md-4">
    <form method="post" ng-submit='create()' ng-controller='saveCtrl'>
    <textarea ng-model="textarea" placeholder="Создайте новое событие, напоминание или просто заметку..." rows="10" cols="30" style="margin-left: 25px;"></textarea>
    <input type="submit" name="save" value="Save" />
    </form>
</div>

<!-- block with already existing notes -->

        
        <ul class="notes">
            <li ng-repeat='note in notes'>
                <div class="rotate-1 lazur-bg">
                    <small>{{note.date}}</small>
                    <h4>{{note.title}}</h4>
                    <p>{{note.content}}</p>
                    <button ng-click='remove(note._id)' class="text-danger pull-right"><i class="fa fa-trash-o "></i></button>
                </div>
            </li>  
        </ul>  
    </div>

</body>
</html>